footer {
    background-color: $white;
    color: $black;
    margin-top: $spacer-less;

    section {
        margin: $spacer-less 0 0 0;
    }

    .footer__container {
        margin-bottom: 15px;
        width: 100%;
    }

    .footer__top {
        svg { width: 40px; }

        .cls-1 {
            fill: $red;
            opacity: 1;
        }
    }

    .footer__menu {
        a { @include text-menu-footer; }

        .menu ul li {
            display: inline;
            margin: 0 5px;
            transition: color $transition-time ease-in-out;

            &:hover {
                color: $red;
            }
        }
    }

    .footer__email img {
        width: 40px;
    }

    .footer__breadcrumb {
        svg { width: 100px; }
    }
}

@media only screen and (max-width: $tablet-break) {
    footer {

    }
}

@media only screen and (max-width: $mobile-break) {
    footer {

    }
}
