header {
    align-items: center;
    color: $black;
    display: flex;
    min-height: 56px;
    max-width: $max-width;

    img {
        max-width: 100%;
    }

    .social {
        text-align: right;
    }

    .search__button {
        cursor: pointer;
        width: 30px;
    }

    .header__buttons {
        position: relative;

        .search__input {
            border: 2px solid $white;
            border-left: 0;
            border-right: 0;
            font-size: 19px;
            padding: 2px;
            position: absolute;
            right: 40px;
            top: 0;
            width: 0;
            transition: border-color $transition-time, width $transition-time, padding $transition-time;
            transition-delay: $transition-time, 0;

            &.show {
                border: 2px solid $black;
                padding: 2px;
                opacity: 1;
                width: 172px;

                &:focus {
                    border: 2px solid $red;
                    box-shadow: none;
                    outline: none;
                }
            }

            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }

        .search__mobile {
            margin: 0 6px;

            .search__input {
                margin-left: 12px;
                padding: 3px 2px;
                right: auto;
            }
        }
    }

    .header__menu__secondary {
        padding: 0;
        text-align: right;

        .hamburger {
            padding: 0 0 0;
        }
    }

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        background-color: $black;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner::before {
        background-color: $black;
    }

    .header__desktop {
        h1 { padding-right: $spacer-less; }
    }

    .header__mobile {
        display: none;

        & > h1 {
            flex-basis: 100%;
            max-width: 100%;
        }

        .social {
            text-align: left;
        }
    }
}

@media only screen and (max-width: $menu-break) {
    header {
        min-height: none;
        padding: 12px 0 0 0;

        &.row {
            display: flex;
        }

        .row {
            display: flex;
        }

        .header__desktop {
            display: none;
        }

        .header__menu__secondary {
            margin-top: 12px;
        }

        .header__buttons {
            .search__mobile {
                margin: 2px 6px 0 12px;
            }
        }

        .header__mobile {
            display: flex;
            // padding-right: $spacer-less;

            h1 a img {
                width: 100%;
            }
        }

        .social {
            // padding-left: $spacer-less;
        }
    }
}
