.home {
    .home__secondary {
        h4 {
            margin-bottom: $spacer-less;
            text-align: center;
        }
    }

    .home__secondary__singles { margin-top: $spacer-more; }

    .home__tertiary {
        h4 { margin-bottom: $spacer-less; }

        h5 { font-size: 48px; }

        .home__tertiary__photo {
            padding-right: $spacer-less;
        }
    }
}

@media only screen and (max-width: $mobile-break) {
    .home__secondary__singles > div {
        @include flex__full;

        margin-bottom: $spacer-less;
    }

    .home .home__tertiary .home__tertiary__photo {
        @include flex__full;

        padding-right: 0;
    }

    .home .home__tertiary .home__tertiary__text {
        @include flex__full;

        margin-top: $spacer-less;
    }
}
