.header__menu__secondary {
    z-index: 10;

    a {
        @include text-menu-mobile;
    }

    button { border: 0; }

    button:hover {
        background-color: transparent;
        border: 0;
    }

    .menu {
        background-color: $red;
        opacity: 0;
        padding: 0 32px;
        position: absolute;
        right: 0;
        transition: opacity 0.25s;
        visibility: hidden;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        li {
            display: block;
            padding: 10px 0 5px;

            &.menu-open > a {
                text-transform: uppercase;
            }

            .sub-menu {
                min-width: 180px;
                padding-top: 10px;
            }

            &.menu-item-has-children > a {
                margin-bottom: 10px;
                padding-bottom: 5px;
            }
        }
    }
}

.header__menu .menu {
    z-index: 10;

    a {
        @include text-menu;
    }

    ul > li {
        margin-right: 10px;
        // margin-bottom: 13px;
    }

    li {
        display: inline-block;
        position: relative;

        a {
            margin-bottom: 10px;

            &:hover {
                text-shadow: 0.25px 0 0.1px, -0.25px 0 0.1px;
            }
        }

        .sub-menu {
            left: 0;
            opacity: 0;
            min-width: 200px;
            padding: 10px 30px 13px;
            position: absolute;
            transition: opacity $transition-speed;
            visibility: hidden;

            li {
                display: block;
            }
        }

        &.menu-open .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}
