$max-width: 1200px;

$black: #000;
$white: #fff;
$red: #d93837;
$gray: #999;
$yellow-light: #ece6d7;

$menu-break: 1155px;
$tablet-break: 1024px;
$mobile-break: 600px;

$spacer: 64px;
$spacer-less: 34px;
$spacer-more: 120px;

$transition-speed: 0.25s;
$transition-time: 0.25s;
